In [1]:
import sqlite3
import pandas as pd

In [2]:
df = pd.read_csv('stock_market_data.csv')
df

             date  trade_code  high   low  open close     volume
0      2020-08-10   1JANATAMF   4.3   4.1   4.2   4.1  2,285,416
1      2020-08-09   1JANATAMF   4.3   4.1   4.1   4.2  1,292,933
2      2020-08-06   1JANATAMF   4.2   4.1   4.1   4.1  2,653,824
3      2020-08-05   1JANATAMF   4.1   4.1   4.1   4.1    360,439
4      2020-08-04   1JANATAMF   4.1   4.1   4.1   4.1     15,217
...           ...         ...   ...   ...   ...   ...        ...
15928  2020-07-08  ZEALBANGLA  31.8  31.6  31.8  31.6        686
15929  2020-07-07  ZEALBANGLA  31.9  31.7  31.7  31.8      1,900
15930  2020-07-06  ZEALBANGLA     0     0     0  31.8          0
15931  2020-07-05  ZEALBANGLA  31.9  31.7  31.8  31.8      1,015
15932  2020-07-02  ZEALBANGLA  31.9  31.9  31.9  31.9         70

[15933 rows x 7 columns]

In [3]:
def load_to_db(data_table, db):
    try:
        connect = sqlite3.connect(db)
        data_table.to_sql('stockmarket', connect, index=True, if_exists='replace')
        print("Data loaded to the database successfully.")
    except Exception as e:
        print(f"Error: {e}")
    finally:
        connect.close()

load_to_db(df, 'stock.db')

Data loaded to the database successfully.